[submodule "firstattempt"]
	path = firstattempt
	url = https://github.com/unjerry/firstattempt.git
[submodule "mikuMikuAnimation"]
	path = mikuMikuAnimation
	url = https://github.com/unjerry/mikuMikuAnimation.git
[submodule "papers"]
	path = papers
	url = https://github.com/unjerry/papers.git
[submodule "affairs"]
	path = affairs
	url = https://github.com/unjerry/affairs.git
[submodule "aiCraftBackUp"]
	path = aiCraftBackUp
	url = https://github.com/unjerry/aiCraftBackUp.git
[submodule "mtExperiment"]
	path = mtExperiment
	url = https://github.com/unjerry/mtExperiment.git
