[submodule "firstattempt"]
	path = firstattempt
	url = https://github.com/unjerry/firstattempt.git
[submodule "mikuMikuAnimation"]
	path = mikuMikuAnimation
	url = https://github.com/unjerry/mikuMikuAnimation.git
[submodule "papers"]
	path = papers
	url = https://github.com/unjerry/papers.git
[submodule "affairs"]
	path = affairs
	url = https://github.com/unjerry/affairs.git
[submodule "aiCraftBackUp"]
	path = aiCraftBackUp
	url = https://github.com/unjerry/aiCraftBackUp.git
[submodule "mtExperiment"]
	path = mtExperiment
	url = https://github.com/unjerry/mtExperiment.git
[submodule "follows/godot_follows"]
	path = follows/godot_follows
	url = https://github.com/unjerry/godot_follows.git
[submodule "follows/undergraduatecourse_follows"]
	path = follows/undergraduatecourse_follows
	url = https://github.com/unjerry/undergraduatecourse_follows.git
[submodule "follows/uni_follows"]
	path = follows/uni_follows
	url = https://github.com/unjerry/uni_follows.git
[submodule "application/school_affair"]
	path = application/school_affair
	url = https://github.com/unjerry/school_affair.git
[submodule "application/polymathApplicationMaterials"]
	path = application/polymathApplicationMaterials
	url = https://github.com/unjerry/polymathApplicationMaterials.git
