[submodule "firstattempt"]
	path = firstattempt
	url = https://github.com/unjerry/firstattempt.git
[submodule "aiCr"]
	path = aiCr
	url = https://github.com/unjerry/aiCr.git
[submodule "mikuMikuAnimation"]
	path = mikuMikuAnimation
	url = https://github.com/unjerry/mikuMikuAnimation.git
[submodule "papers"]
	path = papers
	url = https://github.com/unjerry/papers.git
[submodule "affairs"]
	path = affairs
	url = https://github.com/unjerry/affairs.git
